@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  background: url("https://www.123freevectors.com/wp-content/original/131810-turquoise-and-white-low-poly-background-template-vector-graphic.jpg");
  font-family: 'Roboto', sans-serif;

  header{
    height: 3em;
    margin-bottom: 10px;

    .header-text-div{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }


  .toolbars-div{
    height: 3em;
    margin-bottom: 20px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .searchbar-div{
      width: 40%;
      margin: 2px;
    }

    .filterbar-div{
      margin: 2px;
    }

  }


  .content-div{

    .container{
        .col-md-3{
          margin: 10px 0;
        }
    }

  }


  footer{
    height: 5em;
    margin-top: 20px;
  }

}

